$primaryColor: #8973cb !default;
$primaryLightColor: #c7d2fe !default;
$primaryDarkColor: #6c58ad !default;
$primaryDarkerColor: #4f3f90 !default;
$primaryTextColor: #ffffff !default;
$primary500: #8973cb !default;

$highlightBg: #eef2ff !default;
$highlightTextColor: $primaryDarkerColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';
