<div class="landing-wrapper">
  <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 z-2">
    <div id="home" class="hero grid grid-nogutter justify-content-between align-items-center mb-6 py-6 md:mb-8 md:py-8">
      <div
        class="hero-text col-12 md:col-4 flex flex-column gap-4 flex-order-1 md:flex-order-0 align-items-center md:align-items-start text-center md:text-left">
        <span class="block text-900 font-bold text-4xl">Energy</span>
        <span class="block text-700 text-lg">
          Analyse your energy with real-time data to manage consumption, reduce spend and improve operational
          efficiency.
        </span>

        <div class="flex">
          <a href="https://dashboard.wia.io/auth/signUp">
            <button
              pButton
              pRipple
              type="button"
              label="Speak to sales"
              icon="pi pi-arrow-right"
              iconPos="right"
              class="w-14rem p-button-outlined"></button
          ></a>

          <button
            pButton
            pRipple
            type="button"
            label="Become a partner"
            class="m-0 ml-2 md:mt-0 md:ml-5 white-space-nowrap"></button>
        </div>
      </div>

      <div class="hero-image md:flex col-12 md:col-7 flex-order-0 md:flex-order-1 mb-6 md:mb-0 border-round">
        <img
          animateEnter="moveinright"
          src="https://cdn.wia.io/website/images/energy/energy-header-x1000-no-bg.png"
          alt=""
          class="w-full h-full border-round animation-duration-1000 animation-ease-out" />
      </div>
    </div>

    <div id="apps" class="my-6 md:my-8">
      <span class="text-900 block font-bold text-5xl mb-4 text-center">A bright spark for your company's future </span>
      <span class="text-700 block text-xl mb-8 text-center line-height-3">
        A new way for businesses to start monitoring their electricity consumption across a building or entire campus so
        businesses can access scalable, secure and affordable real-time energy data to drive efficiency and
        sustainability goals.
      </span>

      <div class="flex flex-column lg:flex-row align-items-center justify-content-between mt-8 gap-8">
        <div class="flex flex-column align-items-center">
          <img
            animateEnter="scalein"
            src="https://cdn.wia.io/website/images/energy/icon-innovation.svg"
            alt="chat"
            class="pl-6 pr-6 w-full h-full border-round surface-border animation-duration-500 origin-top" />
          <span class="block font-semibold"> Increased awareness</span>
          <span class="block">
            75% of those with energy monitoring technology were more proactive about their usage compared to those that
            didn’t.
          </span>
        </div>
        <div class="flex flex-column align-items-center">
          <img
            animateEnter="scalein"
            src="https://cdn.wia.io/website/images/energy/icon-down.svg"
            alt="chat"
            class="pl-6 pr-6 w-full h-full border-round surface-border animation-duration-500 origin-top" />
          <span class="block font-semibold">Reduced spend</span>
          <span class="block">
            Instead of waiting for bills to arrive, see what you are using by the minute so you can react and make
            changes immediately.
          </span>
        </div>
        <div class="flex flex-column align-items-center">
          <img
            animateEnter="scalein"
            src="https://cdn.wia.io/website/images/energy/icon-alarm.svg"
            alt="chat"
            class="pl-6 pr-6 w-full h-full border-round surface-border animation-duration-500 origin-top" />
          <span class="block font-semibold">No leaky energy</span>
          <span class="block">
            Appliances, lighting and equipment left on over night can lead to an extreme increase in cost.
          </span>
          <span class=""> </span>
        </div>
        <div class="flex flex-column align-items-center">
          <img
            animateEnter="scalein"
            src="https://cdn.wia.io/website/images/energy/icon-graph.svg"
            alt="chat"
            class="pl-6 pr-6 w-full h-full border-round surface-border animation-duration-500 origin-top" />
          <span class="block font-semibold">Analyse trends</span>
          <span class="block"> Dive into historic data to compare usage over days, weeks, months and even years. </span>
        </div>
      </div>
    </div>
  </div>
</div>
